$primary-900: #001b1c;
$primary-800: #003436;
$primary-700: #004d4f;
$primary-600: #006569;
$primary-500: #007e82;
$primary-400: #269195;
$primary-300: #4da5a8;
$primary-200: #80bfc1;
$primary-100: #b3d8da;
$primary-50: #e0f0f0;

$tertiary-color: #f7d93e;
$color-secundary: #2bb8bc;

$color-bg-gray-1: #858585;
$color-bg-gray-2: #f2edf1;
$color-bg-gray-3: #f9f8f9;

$color-text-1: #5e5e5e;
$color-text-2: #9b9b9b;
$color-text-3: #d4d4d4;

$color-divisor: #d8d8d8;
$color-table: #696969;

$color-bg-event-table: #e8e8e8;

$white: #fff;
$black: #000;

$color-noti-success: #67cb45;
$color-noti-warning: #efab3b;
$color-noti-error: #e11820;

$common-size: 12px;

$positions: top, right, bottom, left;
$aligns: left, center, right;

$border-radius-tabla: 4px;
$spacin-th: 5px;

$font-general: 'Open Sans';
$font-general-icon: 'Logis-icon';

$colorList: (
    #008fb6: 'status-1',
    #8b4513: 'status-2',
    #ffb74d: 'status-3',
    #f19d1e: 'status-4',
    #e6d64b: 'status-5',
    #4fc3f7: 'status-6',
    #4db6ac: 'status-7',
    #aed581: 'status-8',
    #90a4ae: 'status-9',
    #ff8c00: 'status-10',
    #660092: 'status-11',
    #4c59ff: 'status-12',
    #60B515: 'status-13',
    #c24b4b: 'status-14',
 );
